# Data Science Tools and Ecosystem

## Author
Roy Lu

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**
- List some DS languages
- List some DS libraries
- List some DS Tools

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. Tensorflow

## Table for Data Science Tools
| Data Science Tools| 
| -------------|
| Jupyter Notebooks|
| Pycharm |
| R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
(3*4)+ 5
# This a simple arithmetic expression to mutiply then add integers

[1] 17

In [7]:
200/60
# This will convert 200 minutes to hours by diving by 60

[1] 3.333333